---

---

<footer>
  <div class="relative bg-gray-800 text-white py-4">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url('../../public/seguros.jpg');"
    >
    </div>

    <div class="absolute inset-0 bg-gray-900 opacity-75"></div>

    <div class="relative container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 h-64">
      <div>
        <h2 class="text-xl font-bold mb-4">Contáctanos</h2>
        <ul>
          <li>
            <a
              href="mailto:info@example.com"
              class="text-gray-300 hover:text-white">info@example.com</a>
          </li>
          <li>
            <a href="tel:+1234567890" class="text-gray-300 hover:text-white"
              >+1 234 567 890</a>
          </li>
          <li>1234 Calle Falsa, Ciudad, País</li>
        </ul>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-4">Sobre Nosotros</h2>
        <ul>
          <li>
            <a href="#" class="text-gray-300 hover:text-white"
              >Nuestra Historia</a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white"
              >Misión y Visión</a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white">El Equipo</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-4">Seguros</h2>
        <ul>
          <li>
            <a href="#" class="text-gray-300 hover:text-white">
              Seguros de Vida
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white">
              Seguros de Salud
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white"
              >Seguros de Hogar
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
