---
import Image from "astro/components/Image.astro";
import logo from "../../public/kuxtal_logo.png"
import AppBar from "./mainPage/AppBar";
---

<header class="h-20 bg-sky-50 md:flex md:items-center">
    <!--Desktop design--->
    <div class="hidden md:relative md:w-[16em] md:h-full md:flex md:justify-center md:items-center">
        <a href="/" class="w-[10em] h-[4em]">
            <Image src={logo} alt="Logo Kuxtal" class="w-[10em] h-[4em]" quality={100} loading="eager"/>
        </a>
    </div>

    <nav class="hidden w-full md:block">
        <ul class="text-[#292770] font-bold flex justify-evenly">
            <li>Inicio</li>
            <li>Seguros</li>
            <li>Sobre nosotros</li>
            <li>Contactanos</li>
        </ul>
    </nav>
    <!----->

    <!--Movile design--->
    <div class="md:hidden block h-full">
        <AppBar client:only="react"/>
    </div>

</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    html {
        font-family: "Nunito", sans-serif;
    }	
</style>