---
import Image from "astro/components/Image.astro";
import logo from "../../public/favicon.svg"
import AppBar from "./mainPage/AppBar";
---

<header class="w-screen h-12 bg-black md:flex md:items-center">

    <!--Desktop design--->
    <div class="hidden md:block w-[5em]">
        <a href="/">
            <Image src={logo} alt="Logo" width="50" height="50"/>
        </a>
    </div>
    <nav class="hidden md:block">
        <ul class="text-white flex">
            <li>Inicio</li>
            <li>Seguros</li>
            <li>Nuestros empleados</li>
            <li>Contactanos</li>
        </ul>
    </nav>
    <!----->

    <!--Movile design--->
    <div class="md:hidden h-full">
        <AppBar client:only="react"/>
    </div>

</header>